@import '../../styles/variables.css';

.selectedButton {
	width: 6.125rem;
	background-color: transparent;
	border: solid 1px var(--azure);
}

.button {
	width: 6.125rem;
	background-color: transparent;
	border: solid 1px #d6d6d6;
}

.first {
	border-radius: 2px 0px 0px 2px;
}
.second {
	border-radius: 0px 2px 2px 0px;
}
