.header {
	padding: 2.75rem 0 2.625rem 9.375rem;
	box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
	background-image: linear-gradient(
		to bottom,
		#ececec -32%,
		#fff 124%
	);
	position: relative;
}
